/* ---------------- MEDIA 600-------------------------*/
@media only screen and (max-width: 600px){
    .form-login{
        width: 95%;
    }
    .biblia{
        display: none;
    }
    .mouse{
        display: none;
    }
    .flecha{
        display: none;
    }
}
